{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Increíble | Elmore</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="website icon" type="png" href="{% static 'img/logo.png' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body style="background-image: url('/static/img/bg.png'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">

    <nav class="navbar fixed-top" style="background-image: linear-gradient(to bottom, #0bc4d1, #077e9c); margin-bottom: 2rem;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}" style="color: white;">
                <img src="{% static 'img/logo.png' %}" alt="" style="width: 50px; margin-right: 10px;">
                Tienda Increíble
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color: white;"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <form class="d-flex rounded-pill" role="search" style="border-radius: 5cm; overflow: hidden; width: 100%;">
                            <div class="position-relative w-100">
                                <input class="form-control me-2 rounded-pill" type="search" placeholder="Buscar en Tienda Increíble" aria-label="Search" style="border-radius: 5m; width: 100%;">
                                <button class="btn rounded-circle d-flex justify-content-center align-items-center position-absolute" type="submit" style="background-color: rgb(0, 140, 255); width: 34px; height: 34px; right: 10px; top: 50%; transform: translateY(-50%); z-index: 1;">
                                    <img src="{% static 'img/buscar.svg' %}" alt="" style="width: 20px; height: 20px;">
                                </button>
                            </div>
                        </form>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <span>
                                <img src="{% static 'img/user.svg' %}" alt="" style="width: 25px;">
                            </span>
                        </button>
                        
                            <div>
                                <a href="{% url 'ad_productos' %}" class="btn btn-outline-light">Agregar Producto</a>
                            </div>
                        
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-color: #29529e;">
                <div class="modal-header" style="color: white;">
                    <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="registroForm" class="was-validated" novalidate>
                        <div class="mb-3">
                            <input id="usuario" name="usuario" class="form-control rounded-pill" type="text" placeholder="Usuario" required>
                        </div>
                        <div class="mb-3">
                            <input id="contraseña" name="contraseña" class="form-control rounded-pill" type="password" placeholder="Contraseña" required>
                        </div>
                        <div class="mb-3">
                            <input id="verificarcontra" name="verificarcontra" class="form-control rounded-pill" type="password" placeholder="Verificar contraseña" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-outline-light">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><br>


    
    <div class="container-fluid mt-5 d-flex justify-content-center" style="margin-top: 6rem;">
        <div class="row">
            {% if productos %}
                {% for x in productos %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class="card text-bg-light" style="width: 18rem;">
                            <img src="{{ x.imagen.url }}" alt="{{ x.nombre }}" class="card-img-top productos-imagen">
                            <div class="card-body">
                                <h5 class="card-title">{{ x.nombre }}</h5>
                                <p class="card-text">{{ x.descripcion }}</p>
                                <p class="card-text">Precio: {{ x.precio }}</p>
                                <a href="{% url 'edicion_producto' pk=x.nombre %}" class="btn btn-warning mt-2">Editar Producto</a>
                                <form method="post" action="{% url 'eliminar_producto' x.nombre %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger mt-2">Eliminar Producto</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No hay productos disponibles.</p>
            {% endif %}
        </div>
    </div>
    
    

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="{% static 'img/logo.png' %}" alt="Logo de Tienda Increible" style="width: auto;">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Nuestro objetivo es hacer que las mascotas más especiales sean bien cuidadas.</p>
                <p>Con nuestros productos podrás cuidar de manera más eficiente a tu mascota que tanto amas.</p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2024 <b>Tienda Increible</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>